@import './variables';
.button {
    font-family: 'Quicksand', sans-serif;
    padding: $base-padding-sm;
    border-radius: $base-border-radius;
    background-color: $secondary;
    color: $primary;
    border: $base-border-thickness $black solid ;
    transition: .04s;
}

.button:hover{
    background-color: $primary;
    color:$white;
}

.button_filled{
    font-family: 'Quicksand', sans-serif;
    padding: $base-padding-sm;
    border-radius: $base-border-radius;
    background-color:$primary;
    color: $secondary;
    border: $base-border-thickness $black solid ;
    transition: .04s;
}
.button_filled:hover{
    background-color: $secondary;
    color: $primary;
}

.outline_btns{
    margin-bottom: $base-margin-sm;
}



