.button {
    @include button-outline;
}
.button:hover{
    background-color: blue ;
    color:white;
}

.button_filled{
    @include button-filled;
}
.button_filled:hover{
    background-color: aliceblue;
    color: blue;
}

.outline_btns{
    margin-bottom: 10px;
}