@import './variables';
input[type=text], select {
    width: 50%;
    padding: $base-padding-sm $base-padding-lg;
    margin: $base-margin-sm 0;
    display: inline-block;
    border: $base-border-thickness solid $black;
    border-radius: $base-border-radius;
    box-sizing: border-box;
    font-family: quicksand;
    font-weight: 400;
  }
  