@import './variables';
.main-heading{
    font-size: $font-size-xxl;
}

.sub-heading{
    font-size: $font-size-xl;
}

.sub-heading-alt{
    font-size: $font-size-lg;
}

.text{
    font-size: $font-size-sm;
}