@import './buttons';
@import './forms';
@import './tables';
@import './text';


body{
    background:rgb(255, 222, 222);
  font-family: quicksand;
  margin-left: 30px;
}

.type{
    display: flex;
    margin-bottom: content; 
    background-color: aqua;
}
