@import './variables';
@import './buttons';
@import './forms';
@import './tables';
@import './text';
@import './lists';


body{
  background:$white;
  font-family: quicksand;
  margin-left: 30px;
}

.type{
    display: flex;
    margin-bottom: content; 

}

.text{
  padding-left:20px;
  
}

.para{
  margin-bottom: 45px;
}
